{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <!-- <h2 class="text-center">Registrar</h2> -->
    <h2 class="page-title mb-4"><i class="fa fa-user-plus me-2"></i> Registrar</h2>
    <form method="POST" action="/register">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        {{ form.nome(class_='form-control', id='nome') }}
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        {{ form.email(class_='form-control', id='email') }}
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        {{ form.senha(class_='form-control', id='senha') }}
      </div>
      <button type="submit" class="btn btn-primary w-100">Registrar</button>
    </form>
    <p class="text-center mt-3">Já tem conta? <a href="/">Faça login</a></p>
  </div>
</div>
{% endblock %}
